<template>
  <div>
    <v-menu
      offset-y
      transition="scale-transition"
      :close-on-content-click="false"
    >
      <template v-slot:activator="{ on }">
        <v-btn icon style="float: right;" class="ma-4" v-on="on">
          <v-icon>mdi-tag-multiple</v-icon>
        </v-btn>
      </template>
      <v-card class="px-2 py-2" width="275px">
        <v-card-text class="pb-0">
          <v-list dense class="label-list">
            <v-list-item
              v-for="label in labels"
              :key="label.id"
              :style="{ borderLeft: '4px solid ' + label.color }"
            >
              <v-list-item-icon>
                <v-icon class="mt-2">mdi-label-outline</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>{{ label.name }}</v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-checkbox
                  color="#3ad69c"
                  @change="addLabelToTask(label)"
                  data-testid="label-checkbox"
                ></v-checkbox>
              </v-list-item-action>
            </v-list-item>
            <v-list-item
              class="pr-0 label-list__no-data"
              v-if="labels.length == 0"
              data-testid="no-labels"
            >
              <v-list-item-icon class="mr-4">
                <v-icon>mdi-emoticon-poop</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title style="font-size: 15px; color: #fff;"
                  >Add some labels</v-list-item-title
                >
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-list dense>
            <transition name="slide-fade" appear>
              <v-list-item class="px-0" v-if="addLabel">
                <v-list-item-icon class="mr-0">
                  <v-menu
                    offset-y
                    transition="scale-transition"
                    :close-on-content-click="false"
                  >
                    <template v-slot:activator="{ on }">
                      <v-btn icon v-on="on">
                        <v-icon>mdi-eyedropper-variant</v-icon>
                      </v-btn>
                    </template>
                    <v-card>
                      <v-color-picker
                        flat
                        v-model="label.color"
                      ></v-color-picker>
                    </v-card>
                  </v-menu>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-text-field
                    dense
                    solo
                    flat
                    hide-details
                    v-model="label.name"
                    @keydown.enter="createLabel"
                    label="Name..."
                  ></v-text-field>
                </v-list-item-content>
                <v-list-item-action class="ml-1">
                  <v-btn
                    color="green"
                    data-testid="createLabel-btn"
                    small
                    text
                    dark
                    @click="createLabel"
                    :loading="loading"
                    >Add</v-btn
                  >
                </v-list-item-action>
              </v-list-item>
            </transition>
            <v-list-item
              @click="addLabel = !addLabel"
              data-testid="addLabel-expand"
            >
              <v-list-item-content>
                <v-list-item-title class="text-center">
                  <v-icon>mdi-plus</v-icon>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
    </v-menu>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'nuxt-class-component'
import { labelsStore } from '~/store'
import { ILabel } from '~/types/store'
import { mapState } from 'vuex'

@Component({
  computed: {
    ...mapState({
      labels: () => labelsStore.labels,
    }),
  },
})
export default class AddLabel extends Vue {
  private timeStart = ''
  private addLabel = false
  private label = {
    name: '',
    color: '#FF0000FF',
  }
  private loading = false

  private async createLabel() {
    try {
      this.loading = true
      await labelsStore.createLabel(this.label)
      this.label = {
        name: '',
        color: '',
      }
    } catch (error) {
      this.$notify({
        group: 'feedback',
        duration: 5000,
        type: 'error',
        title: 'ERROR',
        text: 'Something went wrong :(',
      })
    } finally {
      this.loading = false
    }
  }

  private addLabelToTask(label: ILabel) {
    this.$emit('addLabel', label)
  }
}
</script>

<style lang="scss" scoped>
.slide-fade-enter {
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-to {
  opacity: 0;
}

.label-list {
  overflow-y: auto;
  max-height: 250px;
}

.label-list__no-data {
  background: linear-gradient(90deg, rgb(9, 199, 138), rgb(28, 173, 125));
  box-shadow: 0 0 2px 0 #1da677c2 !important;
  border-radius: 18px;
}
</style>
