<template>
  <div>
    <v-card>
      <AddLabel @addLabel="addLabelToTask" />
      <v-card-text class="text-center">
        <v-form ref="add-task" lazy-validation>
          <v-text-field
            v-model="newTitle"
            dense
            solo
            :rules="[rules.required]"
            flat
            class="title"
            data-testid="title-input"
            label="Title..."
            style="font-family: Nunito !important;"
          ></v-text-field>
          <v-textarea
            v-model="newTask"
            solo
            :rules="[rules.required]"
            flat
            label="Take a note..."
            data-testid="task-textarea"
            auto-grow
            no-resize
          ></v-textarea>
          <v-row justify="space-around" align="center" class="px-4">
            <v-col cols="12" md="6">
              <v-menu
                ref="startMenu"
                v-model="startMenu"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="timeStart"
                transition="scale-transition"
                offset-y
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="timeStart"
                    rounded
                    filled
                    label="Start date"
                    prepend-icon="mdi-calendar-clock"
                    readonly
                    hide-details
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker
                  color="#fd6378"
                  v-if="startMenu"
                  v-model="timeStart"
                  @click:minute="$refs.startMenu.save(timeStart)"
                ></v-time-picker>
              </v-menu>
            </v-col>
            <v-col cols="12" md="6">
              <v-menu
                ref="endMenu"
                v-model="endMenu"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="timeEnd"
                transition="scale-transition"
                offset-y
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="timeEnd"
                    rounded
                    filled
                    label="End date"
                    prepend-icon="mdi-calendar-clock"
                    readonly
                    hide-details
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker
                  color="#fd6378"
                  v-if="endMenu"
                  v-model="timeEnd"
                  @click:minute="$refs.endMenu.save(timeEnd)"
                ></v-time-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions class="pa-4" style="display: block; text-align: end;">
        <v-btn text @click="closeAddTask" data-testid="close-btn">Cancel</v-btn>
        <v-btn dark color="#3ad69c" :loading="loading" data-testid="confirm-btn" @click="createTask">Confirm</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script lang="ts">
  import Vue from "vue";
  import Component from "nuxt-class-component";
  import { tasksStore } from "~/store";
  import { labelsStore } from "~/store";
  import { ILabel } from "~/types/store";
  import AddLabel from "@/components/AddLabel.vue";
  import { mapState } from "vuex";

  @Component({
    props: {
      title: { type: String },
      task: { type: String },
    },
    components: {
      AddLabel,
    },
  })
  export default class AddTask extends Vue {
    $refs!: {
      "add-task": HTMLFormElement;
    };
    private timeStart = "";
    private timeEnd = "";
    private newTitle = "";
    private newTask = "";
    private labels: Array<ILabel> = [];
    private loading = false;
    private startMenu = false;
    private endMenu = false;
    private rules = {
      required: (value: string) => !!value || "This is required",
    };

    private async created() {
      this.newTitle = this.$props.title;
      this.newTask = this.$props.task;
      await this.getLabels();
    }

    private closeAddTask() {
      this.$emit("close");
    }

    private async getLabels() {
      try {
        await labelsStore.fetchLabels();
      } catch (error) {
        this.$notify({
          group: "feedback",
          duration: 5000,
          type: "error",
          title: "ERROR",
          text: "Something went wrong :(",
        });
      }
    }

    private async createTask() {
      if (this.$refs["add-task"].validate()) {
        try {
          this.loading = true;
          await tasksStore.createTask({
            title: this.newTitle,
            task: this.newTask,
            start: this.timeStart,
            end: this.timeEnd,
            labels: this.labels,
          });
          this.$emit("reset");
          this.$emit("close");
        } catch (error) {
          this.$notify({
            group: "feedback",
            duration: 5000,
            type: "error",
            title: "ERROR",
            text: "Something went wrong :(",
          });
        } finally {
          this.loading = false;
        }
      }
    }

    private addLabelToTask(newLabel: ILabel) {
      const labelExits = this.labels.find((label) => {
        return label.id == newLabel.id;
      });
      if (!labelExits) {
        this.labels.push(newLabel);
      } else {
        this.labels.splice(
          this.labels.findIndex((label) => {
            return label.id == newLabel.id;
          }),
          1
        );
      }
    }
  }
</script>
