<template>
  <div class="pa-4">
    <v-card v-click-outside="hideTitle" data-testid="taskform-card">
      <v-card-text>
        <transition name="slide-fade" appear>
          <v-text-field
            v-if="showTitle"
            hide-details
            dense
            solo
            flat
            v-model="title"
            data-testid="title-input"
            class="title"
            label="Title..."
          ></v-text-field>
        </transition>
        <v-textarea
          solo
          flat
          label="Take a note..."
          hide-details
          auto-grow
          no-resize
          data-testid="task-textarea"
          v-model="task"
          @focus="displayTitle"
        ></v-textarea>
      </v-card-text>
      <v-card-actions>
        <v-btn
          fab
          absolute
          right
          small
          color="#3ad69c"
          dark
          data-testid="addtask-btn"
          class="grow"
          @click="addDialog = !addDialog"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-dialog v-if="addDialog" v-model="addDialog" width="650px" overlay-opacity="0.8">
      <AddTask :title="title" :task="task" @close="close" @reset="resetForm" />
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "nuxt-class-component";
import AddTask from "./AddTask.vue";

@Component({
  components: {
    AddTask,
  },
})
export default class TaskForm extends Vue {
  private showTitle = false;
  private title = "";
  private task = "";
  private addDialog = false;

  private displayTitle() {
    this.showTitle = true;
  }

  private hideTitle() {
    this.showTitle = false;
  }

  private close() {
    this.addDialog = !this.addDialog;
  }

  private resetForm() {
    this.title = "";
    this.task = "";
  }
}
</script>

<style lang="scss" scoped>
.slide-fade-enter {
  transform: translateX(50px);
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s ease;
}

.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(0px);
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.3);
  cursor: pointer;
  transition: all 0.3s;
}
</style>
