<template>
  <div class="pa-4">
    <v-card class="grow">
      <v-btn
        icon
        right
        absolute
        class="mt-2"
        @click="removeTask"
        data-testid="removeTask-btn"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-card-title>{{ task.title }}</v-card-title>
      <v-card-text>{{ task.task }}</v-card-text>
      <v-card-actions>
        <v-row no-gutters align="center">
          <v-col cols="8">
            <v-chip-group>
              <v-chip
                small
                label
                v-for="label in task.labels"
                :key="label.id"
                :color="label.color"
                dark
              >
                {{ label.name }}
              </v-chip>
            </v-chip-group>
          </v-col>
          <v-col cols="4">
            <span class="task__time" v-if="task.start || task.end"
              >{{ task.start }} - {{ task.end }}</span
            >
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'nuxt-class-component'

@Component({
  props: {
    task: {
      type: Object,
      required: true,
    },
  },
})
export default class Task extends Vue {
  private async removeTask() {
    await this.$store.dispatch('tasks/deleteTask', this.$props.task.id)
  }
}
</script>

<style lang="scss" scoped>
.grow:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  cursor: pointer;
  transition: all 0.5s;
}

.grow {
  transition: all 0.5s;
}

.task__time {
  font-size: 21px;
  font-weight: bold;
  opacity: 0.8;
}

@media (max-width: 600px) {
  .task__time {
    font-size: 14px;
  }
}
</style>
