<template>
  <v-app id="app">
    <client-only>
      <notifications group="feedback" />
    </client-only>
    <v-main>
      <v-container fluid class="pa-0">
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'nuxt-class-component'

@Component({})
export default class App extends Vue {
  private mounted() {
    Vue.set(
      Vue.prototype.$nuxt.$vuetify.theme,
      'dark',
      localStorage.getItem('dark') == 'true' ? true : false
    )
  }
}
</script>

<style lang="scss">
.title .v-label {
  font-size: 22px !important;
  font-weight: bold !important;
}

#app {
  font-family: Nunito !important;
}

.notifications {
  top: 0px !important;
  width: 310px !important;
  right: 10px !important;
}

.notification-wrapper {
  margin: 10px 0 !important;
  height: auto !important;
  border-radius: 8px !important;
  opacity: 1 !important;
}

.vue-notification {
  font-size: 14px !important;
  margin: -0px 0px 0px 0px !important;
  margin-right: 0px !important;
  cursor: pointer !important;
  height: 100% !important;
}

.vue-notification-group {
  top: 10px !important;
  right: 10px !important;
}

.vue-notification-wrapper {
  border-radius: 8px !important;
  margin-bottom: 5px !important;
}

.vue-notification-template.vue-notification.warning {
  background-color: #ffbc00 !important;
  border-left: 6px solid #ffd150 !important;
}

.vue-notification-template.vue-notification.error {
  border-left-color: #b82e24 !important;
  border-left: 6px solid #ff8484 !important;
}

.vue-notification-template.vue-notification.info {
  background: #1fa9d8 !important;
  border-left: 6px solid #87d1ea !important;
}

.vue-notification-template.vue-notification.success {
  border-left: 6px solid #458047 !important;
}

.vue-notification .notification-title {
  padding-bottom: 5px !important;
  font-size: 15px !important;
  text-transform: uppercase !important;
}
</style>
