<template>
  <v-app dark>
    <div id="app">
      <div class="text-center">
        <img src="~/assets/404.svg" alt="Page not found" class="page-not-found" />
        <h1 v-if="error.statusCode === 404">
          {{ pageNotFound }}
        </h1>
        <h1 v-else>
          {{ otherError }}
        </h1>
        <NuxtLink to="/" class="home__btn">
          Home page
        </NuxtLink>
      </div>
    </div>
  </v-app>
</template>

<script>
  export default {
    layout: "empty",
    props: {
      error: {
        type: Object,
        default: null,
      },
    },
    data() {
      return {
        pageNotFound: "Page not found",
        otherError: "An error occurred",
      };
    },
    head() {
      const title = this.error.statusCode === 404 ? this.pageNotFound : this.otherError;
      return {
        title,
      };
    },
  };
</script>

<style lang="scss" scoped>
  #app {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  h1 {
    font-size: 20px;
    padding-bottom: 50px;
  }

  .page-not-found {
    width: 500px;
  }

  .home__btn {
    padding: 13px;
    background: linear-gradient(90deg,#2196f3,#1976d2);
    box-shadow: 0 0 3px 0 #2196f3 !important;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
  }
  @media (max-width: 600px) {
    .page-not-found {
      width: 300px;
    }
  }
</style>
