<template>
  <div>
    <transition name="rotate-fade" appear>
      <client-only>
        <img src="~/assets/logo_transparent.png" alt="logo" class="logo" />
      </client-only>
    </transition>
    <v-icon class="theme-sun" :color="dark ? '' : '#ffb200'"
      >mdi-white-balance-sunny</v-icon
    >
    <v-switch
      v-model="dark"
      @change="changeTheme"
      class="theme-switch"
      data-testid="dark-mode"
      color="#fd6378"
    ></v-switch>
    <v-icon class="theme-moon" :color="dark ? '#ffb200' : ''"
      >mdi-weather-night</v-icon
    >
    <v-row no-gutters align="center" justify="center" class="pt-4">
      <v-col xl="4" lg="4" md="6" sm="8" cols="12" class="text-center">
        <TaskForm />
        <div class="mt-12" v-if="loading">
          <v-progress-circular
            :size="50"
            color="#3ad69c"
            indeterminate
          ></v-progress-circular>
        </div>
      </v-col>
    </v-row>
    <v-row
      no-gutters
      align="center"
      justify="center"
      v-if="!loading && tasks.length == 0"
      data-testid="no-results"
    >
      <transition name="rotate-fade" appear>
        <v-col xl="4" lg="4" md="6" sm="8" cols="12" class="text-center pt-12">
          <img
            src="~/assets/no-tasks.svg"
            alt="no-tasks"
            class="no-tasks pt-8"
          />
          <p
            class="no-tasks__message pt-4"
            :style="dark ? 'color: #e6e6e6' : '#3f3d56'"
          >
            You dont have tasks today
          </p>
        </v-col>
      </transition>
    </v-row>
    <transition-group
      class="row no-gutters py-8"
      tag="div"
      name="slide-fade"
      appear
      mode="out-in"
    >
      <v-col
        xl="3"
        md="3"
        sm="4"
        cols="12"
        v-for="task in tasks"
        :key="task.id"
      >
        <Task :task="task"></Task>
      </v-col>
    </transition-group>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'nuxt-class-component'
import TaskForm from '../components/TaskForm.vue'
import Task from '../components/Task.vue'
import { tasksStore } from '~/store'
import { mapState } from 'vuex'
import { ILabel, ITask } from '~/types/store'

@Component({
  components: {
    TaskForm,
  },
  computed: {
    ...mapState({
      tasks: () => tasksStore.tasks,
    }),
  },
})
export default class Tasks extends Vue {
  private loading = false
  private head() {
    return {
      title: 'Day Tasks',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'App to organize your day',
        },
      ],
    }
  }

  private async created() {
    await this.getTasks()
  }

  private async getTasks() {
    try {
      this.loading = true
      await tasksStore.fetchTasks()
    } catch (error) {
      this.$notify({
        group: 'feedback',
        duration: 5000,
        type: 'error',
        title: 'ERROR',
        text: 'Something went wrong :(',
      })
    } finally {
      this.loading = false
    }
  }

  private get dark() {
    return Vue.prototype.$nuxt.$vuetify.theme.dark
  }

  private set dark(value) {
    Vue.set(Vue.prototype.$nuxt.$vuetify.theme, 'dark', value)
  }

  private changeTheme() {
    localStorage.setItem('dark', this.dark)
  }
}
</script>

<style lang="scss" scoped>
.slide-fade-leave-active {
  transition: all 0.4s ease;
}

.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(50px);
}

.rotate-fade-enter-to {
  transform: rotate(360deg);
}

.rotate-fade-enter-active {
  transition: all 0.5s ease;
}

.logo {
  position: absolute;
  width: 115px;
}

.no-tasks {
  width: 350px;
}

.no-tasks__message {
  font-weight: 100;
  font-size: 28px;
}

.theme-switch {
  position: absolute;
  right: 35px;
  top: 12px;
}
.theme-sun {
  position: absolute !important;
  right: 90px;
  top: 33px;
}
.theme-moon {
  position: absolute !important;
  right: 10px;
  top: 31px;
}

@media (max-width: 600px) {
  .logo {
    position: relative;
    width: 85px;
  }
  .slide-fade-leave-to {
    opacity: 0 !important;
    transform: translateX(300px) !important;
  }
  .no-tasks {
    width: 300px;
  }

  .no-tasks__message {
    font-weight: 100;
    font-size: 22px;
  }
}
</style>
